<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force index.php to load first (even if old index.html exists)
    DirectoryIndex index.php index.html
    
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Protect Config & Auth
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<DirectoryMatch "^(config|auth)">
    Order allow,deny
    Deny from all
</DirectoryMatch>
